[build]
  base = "frontend"
  command = "npm install --include=dev && npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/auth/*"
  to = "https://scrupulous-meadowlark-77.convex.cloud/api/auth/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
